{% extends 'layout.html' %}

{% block content %}

<h1>Formularios en Django</h1><hr>

<div class="d-flex justify-content-center">
    <div class="card w-50 p-3" ><br>
        <!-- Formulario -->
        <form action=" {% url 'create_article_form' %} "  method="GET" >
            <div class="form-group">
              <label for="title">Title: </label>
              <input type="text" class="form-control" name="title" placeholder="Insert title">
            </div>
            <div class="form-group">
              <label for="content">Content: </label>
              <textarea class="form-control" name="content" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="public">Public: </label>
                <select class="form-control" name="public">
                  <option value="True">Si</option>
                  <option value="False">No</option>
                </select>
              </div>
            <button class="btn btn-block btn-success" type="submit">Enviar</button>
          </form>
        
        </div>
        

</div>

{% endblock %}